<!DOCTYPE html>
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link rel="stylesheet" type="text/css" href="../static/css/style.css"/>
    <script type="text/javascript" src="../static/js/script.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/c4254e24a8.js" crossorigin="anonymous"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1"> 
    <meta name="description" content="Osiris is made of singer Jack Conway, Dylan Tuohy and Ciaran Leyden on guitars, Kyle Duncan on bass and Jamie Myers on drums. Street Noise out now">
     <link rel="icon" type="image/x-icon" href="images\favicon.ico">
    <title>Homepage: Katie Rice portfolio</title>
    
</head>

<body>
<header>
  <nav>
    <ul>

  <li><a href="index.html">Home</a></li>
  <li><a href="projects.html">Projects</a></li>
  <li><a href="skills.html">Skills</a></li>
  <li><a href="extra.html">Extra</a></li>
  <li><a href="contact.html">Contact</a></li>
</ul>

</nav>

</header>




<body>

    <div class="containercontact">
          <label for="fname">First Name</label>
          <input type="text" id="fname" name="firstname" placeholder="Your name..">
      
          <label for="lname">Last Name</label>
          <input type="text" id="lname" name="lastname" placeholder="Your last name..">
      
          <label for="country">Country</label>
          <select id="country" name="country">
            <option value="australia">Ireland</option>
            <option value="canada">UK</option>
            <option value="usa">Europe</option>
          </select>
      
          <label for="subject">Subject</label>
          <textarea id="subject" name="subject" placeholder="Write something.." style="height:200px"></textarea>
      
          <input type="submit" value="Submit" onclick="submitAlert()">
        </form>

            <div class="social-icons">
                <a href="https://twitter.com/cakeomi"><i class="fab fa-twitter-square"></i></a>
                <a href="https://www.instagram.com/cakeatie/?next=%2F&hl=en"><i class="fab fa-instagram"></i></a>
                <a href="https://www.linkedin.com/in/katie-rice-52a42a270/"><i class="fab fa-linkedin"></i></a>
            </div>
        </div>
      </div>

</body>
</html>