<!DOCTYPE html>
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link rel="stylesheet" type="text/css" href="../static/css/style.css"/>
    <script type="text/javascript" src="../static/js/script.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1"> 
    <meta name="description" content="Osiris is made of singer Jack Conway, Dylan Tuohy and Ciaran Leyden on guitars, Kyle Duncan on bass and Jamie Myers on drums. Street Noise out now">
     <link rel="icon" type="image/x-icon" href="images\favicon.ico">
    <title>Homepage: Katie Rice portfolio</title>
    
</head>

<body>
<header>
  <!-- <div id="header">
    <h1><a href="index.html">Katie Rice</h1>
    <a href="index.html"><img src="static\images\butterfly_overlay.png">
  </div> -->
  <nav>
    <ul>

  <li><a href="index.html">Home</a></li>
  <li><a href="projects.html">Projects</a></li>
  <li><a href="skills.html">Skills</a></li>
  <li><a href="extra.html">Extra</a></li>
  <li><a href="contact.html">Contact</a></li>
</ul>


</nav>

</header>
<section>
  <div class="hero" id="about">
    <div class="hero-description">
      <div class="hero-text">
       <h1 class="hero-title">Welcome to my portfolio</h1>
       <p>
       Explore some of my previous projects, skills and contact details by navigating the website via the navigation bar.
       </p>
       <span class="w3-text-white cvbutton" style="margin-top:050px">
        <a href="C:\Users\Katie\Documents\flask_project\static\images\cvjuly.doc.pdf" download><button class="button-cv"><b>Download My CV</b></button></a>
        </a>
       </span>
      </div>
    </div>
  </div>
</section>
  





</body>
</html>


