<!DOCTYPE html>
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link rel="stylesheet" type="text/css" href="../static/css/style.css"/>
    <script type="text/javascript" src="../static/js/script.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/c4254e24a8.js" crossorigin="anonymous"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1"> 
    <meta name="description" content="Osiris is made of singer Jack Conway, Dylan Tuohy and Ciaran Leyden on guitars, Kyle Duncan on bass and Jamie Myers on drums. Street Noise out now">
     <link rel="icon" type="image/x-icon" href="images\favicon.ico">
    <title>Homepage: Katie Rice portfolio</title>
    
</head>

<body>
<header>
  <nav>
    <ul>

  <li><a href="index.html">Home</a></li>
  <li><a href="projects.html">Projects</a></li>
  <li><a href="skills.html">Skills</a></li>
  <li><a href="extra.html">Extra</a></li>
  <li><a href="contact.html">Contact</a></li>
</ul>


</nav>

</header>
<div class="projectheading">
  <span>Some website I have created</span>
</div>


<div id="myBtnContainer">
  <button class="btn" onclick="filterSelection('all')"> Show all</button>
  <button class="btn" onclick="filterSelection('figma')"> Figma</button>
  <button class="btn" onclick="filterSelection('js')"> Javascript</button>
  <button class="btn" onclick="filterSelection('css')">CSS</button>
</div>

<div id="portfolio">
  <div class="container">
      <div class="work-list">
          <div class="work">
            <div class="filterDiv css">
              <img src="flask_project_db\static\images\osiris.png">
              <div class="layer">
                <h3>Osiris Website</h3>
                  <p>A website for a band, using CSS and html, with a consistent theme</p>
                  <a href="#"><i class="fas fa-external-link-alt"></i></a>
              </div></div>
          </div>
          <div class="work"><div class="filterDiv css js">
              <img src="static\images\anchwebsite.jpg">
              <div class="layer">
                <h3>Animal Crossing Website</h3>
                  <p>A website for a game called Animal Crossing. Uses CSS and javascript</p>
                  <a href="https://d00206788.github.io/animalcrossing/" target="_blank"><i class="fas fa-external-link-alt"></i></a>
              </div></div>
          </div>
          <div class="work"><div class="filterDiv figma">
              <img src="static\images\figma.png">
              <div class="layer">
                <h3>Ecovatar</h3>
                  <p>Using figma, this was a prototype app</p>
                  <a href="https://www.figma.com/file/ZbPcmWPwY8wCc4fL5sl9Za/Ecovatar-concept?type=design&mode=design&t=0PhOYryD6ASYKV7x-1" target="_blank"><i class="fas fa-external-link-alt"></i></a>
              </div></div>
          </div>
      </div>
  </div>
</div>


</section>

<script src="C:\Users\Katie\Documents\flask_project\static\js\script.js"></script>

</body>
</html>
