<!DOCTYPE html>
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link rel="stylesheet" type="text/css" href="../static/css/style.css"/>
    <script type="text/javascript" src="../static/js/script.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/c4254e24a8.js" crossorigin="anonymous"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1"> 
    <meta name="description" content="Osiris is made of singer Jack Conway, Dylan Tuohy and Ciaran Leyden on guitars, Kyle Duncan on bass and Jamie Myers on drums. Street Noise out now">
     <link rel="icon" type="image/x-icon" href="images\favicon.ico">
    <title>Homepage: Katie Rice portfolio</title>
    
</head>

<body>
<header>
    <nav>
        <ul>
    
      <li><a href="index.html">Home</a></li>
      <li><a href="projects.html">Projects</a></li>
      <li><a href="skills.html">Skills</a></li>
      <li><a href="extra.html">Extra</a></li>
      <li><a href="contact.html">Contact</a></li>
    </ul>
    
    
    </nav>

</header>




<body>

  <div id="services">
    <div class="container">
        <h1 class="sub-title">My Skills</h1>
        <div class="services-list">
            <div>
                <i class="fas fa-code"></i>
                <h2>Web Design</h2>
                <p>I am proficient in Html, CSS and Javascript and I am currently learning databases and python</p>
                
            </div>
            <div>
                <i class="fas fa-crop-alt"></i>
                <h2>UI/UX Design</h2>
                <p>User research and user strategy and front end programming</p>
                
            </div>
            <div>
                <i class="fab fa-app-store"></i>
                <h2>Design</h2>
                <p>Use of color schemes, layouts and aesthetically pleasing designs</p>
                
            </div>
        </div>
    </div>
</div>



<script src="C:\Users\Katie\Documents\flask_project\static\js\script.js"></script>

</body>
</html>
